page-home{ 

.iconlogin {
  font-size: 120px;
  color: #387ef5;
}

.header{
  font-size: 24px;
  color: #387ef5;
}

.login form {
  margin-bottom: 32px;
}

.login form button {
  margin-top: 20px;
}

}